#questions {
	padding: 100px 3rem;
}

#questions > h2 {
	color: var(--color-green);
	text-align: center;
	margin-bottom: 3rem;
}

.questions {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.question {
	display: flex;
	flex-direction: column;

	overflow: hidden;
}

.question > h3 {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 25px;
	color: var(--color-black);
	padding: 1rem 0;
	cursor: pointer;
	background-color: var(--color-white);
	z-index: 1;

	transition: color 0.2s;
}

.question > h3:hover {
	color: var(--color-green);
}

.question > h3 > svg {
	flex-shrink: 0;

	transition: 0.4s;
}

.answer {
	max-height: 0px;
	visibility: hidden;

	transition: 0.4s;
}

.answer.active {
	max-height: 180px;
	visibility: visible;
}

@media (min-width: 990px) {
	#questions > h2 {
		font-size: 32px;
	}
}
