.container-header {
	width: 100%;
	background-color: var(--color-white);
	padding: 1rem;
	box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.089);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#header img {
	width: 150px;
}

#menu-icon {
	color: var(--color-gray);
	font-size: 3rem;
	cursor: pointer;

	transition: color 0.3s;
}

#menu-icon:hover {
	color: var(--color-black);
}

@media (min-width: 990px) {
	#header img {
		flex-shrink: 0;
	}

	#menu-icon {
		display: none;
	}
}
