#navbar {
	position: absolute;
	right: -100px;
	top: 0;
	z-index: 10;

	width: 0%;
	min-height: 100vh;
	background-color: var(--color-white);
	padding: 1rem 2rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	transition: 0.5s;
}

#navbar.show {
	right: 0;
	width: 100%;
}

#nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav-header img {
	width: 40px;
}

#close-menu-icon {
	color: var(--color-gray);
	font-size: 3rem;
	cursor: pointer;

	transition: color 0.3s;
}

#close-menu-icon:hover {
	color: var(--color-black);
}

#navbar ul {
	display: flex;
	flex-direction: column;
}

.nav-list > li{
	position: relative;
}

.nav-list > li:not(:first-child, :nth-child(2)),
.nav-list > li > p,
.nav-list > li > ul > li {
	padding: 1rem 0;
}

.nav-list > li,
.nav-list > li > ul > li {
	cursor: pointer;
}

.nav-list > li {
	border-bottom: 1px solid var(--color-light-gray);

	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.nav-list > li > p {
	display: flex;
	align-items: center;
	justify-content: space-between;

	pointer-events: none;
	cursor: pointer;
}

.list-arrow-icon {
	transition: 0.3s;
}

#navbar .nav-sublist {
	background-color: var(--color-white);

	display: none;
	flex-direction: column;
}

#navbar .nav-sublist.show {
	display: flex;
}

#navbar .nav-sublist > li {
	padding: 1rem;
	width: 100%;

	transition: 0.3s;
}

#navbar .nav-sublist > li:hover {
	background-color: #eee;
}

.nav-list li:nth-child(2) .nav-sublist > li {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.nav-sign {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.nav-sign li {
	border: 1px solid var(--color-green);
	text-align: center;
	color: var(--color-green);
	font-weight: bold;
	font-size: 0.9rem;
	letter-spacing: 0.07rem;
	border-radius: 5px;
	padding: 1rem;
	cursor: pointer;

	transition: 0.3s;
}

.nav-sign li:hover {
	background-color: var(--color-green);
	color: var(--color-white);
}

.nav-sign li:last-child {
	background-color: var(--color-green);
	color: var(--color-white);

	transition: 0.3s;
}

.nav-sign li:last-child:hover {
	filter: brightness(0.8);
}

@media (min-width: 990px) {
	#navbar {
		position: static;
		right: auto;
		top: auto;

		width: auto;
		min-height: auto;
		padding: 0;

		flex-direction: row;
		align-items: center;
		justify-content: end;
		gap: 2rem;
		flex: 1;

		transition: none;
	}

	#nav-header {
		display: none;
	}

	#navbar ul {
		flex-direction: row;
		align-items: center;
		justify-content: end;
	}

	#navbar .nav-list {
		gap: 2rem;
		flex: 1;
		justify-content: center;

		margin-left: 2rem;
	}

	.nav-list > li:not(:first-child, :nth-child(2)),
	.nav-list > li > p,
	.nav-list > li > ul > li {
		padding: 0;
	}

	.nav-list > li {
		border-bottom: 0;
	}

	.nav-list > li > p {
		align-items: center;
		justify-content: stretch;
		gap: 0.5rem;
	}

	#navbar .nav-sublist {
		position: absolute;
		top: 30px;
		left: 0px;
		z-index: 10;

		background-color: var(--color-white);
		box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.041);
		border-radius: 5px;
		width: max-content;

		display: none;
		flex-direction: column;
	}

	#navbar .nav-sublist.show {
		display: flex;
	}

	#navbar .nav-sublist > li:not(:last-child) {
		border-bottom: 1px solid var(--color-light-gray);
	}

	#navbar .nav-sublist > li {
		padding: 1rem;
		width: 100%;

		transition: 0.3s;
	}

	#navbar .nav-sublist > li:hover {
		background-color: #eee;
	}

	#navbar .nav-sublist {
		display: none;
	}

	.nav-sign {
		width: fit-content;
	}

	.nav-list li:nth-child(2) .nav-sublist > li {
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}

	.nav-sign li {
		padding: .75rem 1rem;
	}
}
