#navbar {
	position: absolute;
	right: -100px;
	top: 0;
	z-index: 10;

	width: 0%;
	min-height: 100vh;
	background-color: var(--color-white);
	padding: 1rem 2rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	transition: 0.5s;
}

#navbar.show {
  right: 0;
  width: 100%;
}

#nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav-header img {
	width: 40px;
}

#close-menu-icon {
	color: var(--color-gray);
	font-size: 3rem;
	cursor: pointer;

	transition: color 0.3s;
}

#close-menu-icon:hover {
	color: var(--color-black);
}

#navbar ul {
	display: flex;
	flex-direction: column;
}

.nav-list > li:not(:first-child, :nth-child(2)),
.nav-list > li > p,
.nav-list > li > ul > li {
	padding: 1rem 0;
}

.nav-list > li,
.nav-list > li > ul > li {
  cursor: pointer;
}

.nav-list > li {
	border-bottom: 1px solid var(--color-light-gray);

	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.nav-list > li > p {
	display: flex;
	align-items: center;
	justify-content: space-between;

	pointer-events: none;
  cursor: pointer;
}

.list-arrow-icon {
  transition: .3s;
}

#navbar .nav-sublist {
	margin-left: 1rem;

	display: none;
}

.nav-list li:nth-child(2) .nav-sublist > li {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.nav-sign {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.nav-sign li {
	border: 1px solid var(--color-green);
	text-align: center;
	color: var(--color-green);
	font-weight: bold;
	font-size: 0.9rem;
	letter-spacing: 0.07rem;
	border-radius: 5px;
  padding: 1rem;
  cursor: pointer;

	transition: 0.3s;
}

.nav-sign li:hover {
	background-color: var(--color-green);
	color: var(--color-white);
}

.nav-sign li:last-child {
	background-color: var(--color-green);
	color: var(--color-white);

	transition: 0.3s;
}

.nav-sign li:last-child:hover {
	filter: brightness(0.8);
}
