#plans {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 130px 1rem;
  background-color: var(--color-bg);
}

.header-plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-plans h1 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Amerigo BT";
}

.toggle-plans {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggle-plans span {
  letter-spacing: .1rem;
  font-weight: 600;
}

.toggle-button {
  background-color: var(--color-green);
  width: 50px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;

  position: relative;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-white);

  position: absolute;
  top: 50%;
  left: 3px;
  transform: translate(0, -50%);

  transition: .25s;
}

.circle.year {
  left: calc(100% - 3px);
  transform: translate(-100%, -50%);
}

.plans {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.plan {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 3rem 1rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  position: relative;
}

.plan-header p {
  font-size: 14px;
  max-width: 75%;
}

.plan-price {
  border-bottom: 2px solid var(--color-green);
  padding-bottom: .5rem;
}

.plan-price h1 {
  display: flex;
  align-items: center;
  
  font-weight: 400;
  font-size: 30px;
}

#price {
  font-size: 70px;
  margin: 0 16px 0 8px;
  font-weight: 600;
}

#month-year {
  align-self: end;
  font-size: 24px;
}

.plan-features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plan-features li {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.plan-features li svg {
  font-size: .75rem;
  color: var(--color-green);
}

.plan-button button {
  background-color: var(--color-green);
  border: none;
  outline: none;
  padding: 1.75rem;
  width: 100%;
  color: var(--color-white);
  font-weight: bold;
  font-size: 15px;
  letter-spacing: .7px;
  border-radius: 5px;
  cursor: pointer;

  transition: filter .25s;
}

.plan-button button:hover {
  filter: brightness(.8);
}

.most-popular {
  background-color: var(--color-green);
  color: var(--color-white);
  text-align: center;
  padding: 10px;
  font-weight: 600;
  letter-spacing: .7px;
  width: 70%;

  position: absolute;
  right: -20%;
  top: 50px;
  transform: rotate(45deg);
}